<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IntegrationService.Eispp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="IntegrationService.Eispp.EisppService"
               behaviorConfiguration="EisppServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress=""/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/EisppService/service  -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="IntegrationService.Eispp.IEisppService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/EisppService/service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EisppServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <IntegrationService.Eispp.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value>EISPPIntegrationService</value>
      </setting>
      <setting name="EisppHostName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EisppQManager" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EisppPort" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EisppChanel" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EisppQName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EisppResultQName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EisppUser" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EisppPassword" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EisppQTimeout" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="ServiceDisplayName" serializeAs="String">
        <value>EISPP Integration service</value>
      </setting>
    </IntegrationService.Eispp.Properties.Settings>
  </applicationSettings>
</configuration>