@model IEnumerable<CaseSelectionProtokolLawUnitVM>
@using IOWebApplication.Infrastructure.Models.ViewModels
@using IOWebApplication.Infrastructure.Constants

@if (Model.Count() > 0)
{
<div class="row">
    <div class="col-lg-3 col-md-3">
        <label>Имена</label>
    </div>
    @if (NomenclatureConstants.JudgeRole.JudgeRolesList.Contains((int)(ViewBag.RoleId)))
    {
        <div class="col-lg-2 col-md-2">
            <label>Натовареност</label>
        </div>}

    <div class="col-lg-2 col-md-3">
        <label>Статус</label>
    </div>
    <div class="col-lg-5 col-md-4">
        <label>Забележка</label>
    </div>
</div>}
@for (int i = 0; i < Model.Count(); i++)
{
    Model.ElementAt(i).Index = Model.ElementAt(i).LawUnitId;
    ViewData.TemplateInfo.HtmlFieldPrefix = Model.ElementAt(i).GetPath;
    <partial name="_LawUnitsItem" model="@Model.ElementAt(i)" />
    ViewData.TemplateInfo.HtmlFieldPrefix = string.Empty;
}
