#historyContainer TD.tdList {
    color: #888;
    font-weight: normal !important;
}

    #historyContainer TD.tdList td.selected {
        color: #000;
        font-weight: normal !important;
    }


#historyContainer label.control-label {
    color: #888;
}

.form-group.changed{
    background-color:#fcf7e4;
}