@using IOWebApplication.Infrastructure.Models.ViewModels.RegixReport
@model RegixHeaderFooterVM

<div>
    <br />
    <br />
    <br />
    <br />
    @Html.DisplayFor(x => x.UserName, "objInline")
    @Html.DisplayFor(x => x.Date, "objInline")
</div>