@using IOWebApplication.Infrastructure.Constants
@using IOWebApplication.Infrastructure.Models.ViewModels

@{
    var caseId = ViewBag.caseId;
    var caseSessionId = ViewBag.caseSessionId;
    if (caseSessionId == null)
    {
        ViewData["Title"] = "Суми по дело " + ViewBag.casenumber;
    }
    else
    {
        ViewData["Title"] = "Суми за заседание по дело " + ViewBag.casenumber;
    }
}

<div class="row">
    <div class="col-md-12">
        <partial name="../CaseMoney/_CaseMoney.cshtml" model="@new CaseMainDataVM { Id = caseId, CaseSessionId = caseSessionId} " />
    </div>
</div>

<div class="row">
    <div class="form-group row col-md-12">
        @if (caseSessionId == null)
        {
            <a asp-controller="Case" asp-action="CasePreview" asp-route-id="@caseId" class="btn btn-danger">Назад</a>
        }
        else
        {
            <a asp-controller="CaseSession" asp-action="Preview" asp-route-id="@caseSessionId" class="btn btn-danger">Назад</a>
        }
    </div>
</div>
