
@{
    ViewData["Title"] = "UploadTestFile";
}

<h2>UploadTestFile</h2>

<div id="attachedFiles" class="cdn-files" data-sourcetype="98" data-sourceid="1" data-editmode="all"></div>

<partial name="_CdnScript" />

