@model EisppPersonRegIXVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Eispp

<div class="row">
    <div class="col-lg-2">
        @Html.EditorFor(x => x.Uic, "hd")
    </div>
    <div class="col-lg-5">
        @Html.EditorFor(x => x.PersonName, "hd")
    </div>
    <div class="col-lg-5">
        @Html.EditorFor(x => x.PersonNameRegIX, "hd")
    </div>
</div>





