@model CaseMainDataVM
@using IOWebApplication.Infrastructure.Models.ViewModels
@{
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <table id="caseLawUnitSubstMainTable" class="table table-hover table-striped"></table>
    </div>
</div>
<script>
    $(function () {
        var table = $('#caseLawUnitSubstMainTable').DataTable({
            ajax: {
                "url": "@Url.Action("LawUnitSubstitute_LoadData", "CaseLawUnit")",
                "type": "POST",
                "datatype": "json",
                data: function (d) {
                    d.caseSessionId = @(Model.CaseSessionId ?? 0);
                }
            },
            deferLoading: deferLoadingOnTab('#caseLawUnitSubstMainTable'),
            columns: [
                {
                    name: 'lawUnitName',
                    data: 'lawUnitName',
                    title: 'Съдия',
                    sortable: false,
                    searchable: true
                },
                {
                    name: 'substituteLawUnitName',
                    data: 'substituteLawUnitName',
                    title: 'Заместник',
                    sortable: false,
                    searchable: true
                },
                {
                    name: 'actions',
                    title: "",
                    sortable: false,
                    searchable: false,
                    className: "text-center noExport",
                    "render": function (a, b, item, d) {
                        return TemplateToHtml('#substTemplateEdit', item);
                    }
                }
            ]
        });
    });

    function applySubst(sender) {
        swalConfirm('Потвърди заместването на съдията!', function () {

            postContent('@Url.Action("LawUnitSubstitute_Apply","CaseLawUnit")',
                {
                    substsitution_id: $(sender).data('subst'),
                    from: $(sender).data('from'),
                    to: $(sender).data('to'),
                    caseSessionId: $(sender).data('session')
                },
                function (res) {
                    if (res.isOk == true) {
                        $('#caseLawUnitMainTable').DataTable().ajax.reload();
                        $('#caseLawUnitSubstMainTable').DataTable().ajax.reload();
                        messageHelper.ShowSuccessMessage('Съдията е заместен успешно.');
                    }
                });
        });
    }
</script>

<script id="substTemplateEdit" type="text/x-handlebars-template">
    @if (access.CanChange)
    {
        <text>
            {{#if isSubstituted}}
            Заместен
            {{else}}
            <a href="#" onclick="applySubst(this); return false;"
               data-session="@Model.CaseSessionId"
               data-subst="{{id}}"
               data-from="{{lawUnitId}}"
               data-to="{{substituteLawUnitId}}"
               class="btn btn-def btn-sm" title="Замести съдия {{lawUnitName}} със съдия {{substituteLawUnitName}}"><i class="fa fa-repeat"></i> Замести</a>
            {{/if}}
        </text>
    }
</script>