@model IOWebApplication.Infrastructure.Models.ViewModels.TinyMCEVM;
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
         @Html.Raw(@Model.DocStyle)
    </style>
</head>
<body>
    @Html.Raw(@Model.Text)
</body>
</html>

