@{
    ViewData["Title"] = "Дежурства към съд";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
    </ol>
}

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="Add" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData")",
                    "type": "POST",
                    "datatype": "json"
                },
                columns: [
                    {
                        name: 'label',
                        data: 'label',
                        title: 'Наименование',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'description',
                        data: 'description',
                        title: 'Описание',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'dateFrom',
                        data: 'dateFrom',
                        title: 'Дата от',
                        sortable: true,
                        searchable: true,
                        render: function (data) {
                            return (data != null) ? moment(data).format("DD.MM.YYYY HH:mm") : data;
                        }
                    },
                    {
                        name: 'dateTo',
                        data: 'dateTo',
                        title: 'Дата до',
                        sortable: true,
                        searchable: true,
                        render: function (data) {
                            return (data != null) ? moment(data).format("DD.MM.YYYY HH:mm") : data;
                        }
                    },
                    {
                        name: 'countLawUnit',
                        data: 'countLawUnit',
                        title: 'Брой съдии',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });


        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        <a href="@Url.Action("Edit")/{{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"> Редакция</span></a>
        @*<a href="@Url.Action("LawUnits")/{{this}}" class="btn btn-primary btn-sm" title="Съдии"><i class="fa fa-user"></i><span class="hidden-sm hidden-xs"> Съдии</span></a>*@
    </script>
}
