@{
    ViewData["Title"] = "Потребители";
}
@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="Register" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {

                    }
                },
                columns: [
                    {
                        name: 'courtName',
                        data: 'courtName',
                        title: 'Съд',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'fullName',
                        data: 'fullName',
                        title: 'Имена',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'lawUnitTypeName',
                        data: 'lawUnitTypeName',
                        title: 'Вид',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'email',
                        data: 'email',
                        title: 'Потребителско име',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        widht: 80,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });


        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        <a href="@Url.Action("Edit")/{{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
        <a href="@Url.Action("Index","DeliveryAccount")?userId={{this}}" class="btn btn-def btn-sm" title="Сдвояване на мобилно устройство"><i class="fa fa-mobile"></i><span class="hidden-sm hidden-xs"></span></a>
    </script>
}
