@model PasswordResetVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Account


@using (Html.BeginForm(FormMethod.Post, null, new { id = "wtModalForm" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.EditorFor(x => x.Password, "Password")
    @Html.EditorFor(x => x.Password2, "Password")
    <div class="form-group">
        <input type="submit" value="Запис" class="btn btn-success" />
    </div>
}
<div id="modalMessageContainer">
</div>
<script>
    $(function () {
        attachAjaxForm('#wtModalForm', function (data) {
            console.log(data.responseJSON);
            if (data.responseJSON.isok == true) {
                HideModal();
                messageHelper.ShowSuccessMessage('Паролата е зададена успешно.');
            } else {
                messageHelper.ShowErrorMessage(data.responseJSON.error, '#modalMessageContainer');
            }
        });       
    })
</script>