@model SelectCourtVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Common
@using (Html.BeginForm(FormMethod.Post, null, new { id = "wtModalForm", @class = "quick-submit" }))
{
    @if (Model.IsAdmin)
    {
        @Html.EditorFor(x => x.CourtId, "SelectCourt")
    }
    else
    {
        <div class="form-group">
            <label class="control-label">Изберете съд</label>
            @Html.DropDownListFor(x => x.CourtId, (SelectList)ViewBag.courts, new { @class = "form-control" })
        </div>
    }

    <div class="form-group">
        <input type="submit" value="Потвърди" class="btn btn-success" />
    </div>
}
<div id="modalMessageContainer">
</div>
<script>
    $(function () {

        @if (Model.IsAdmin)
        {
        <text>
        initCourts();
        </text>
        }
            attachAjaxForm('#wtModalForm', function (data) {
                if (data.responseJSON.result == true) {
                    //messageHelper.ShowSuccessMessage('Текущия съд е зададен успешно.');
                    document.location.href = '@Url.Action("Index","Home")';
                } else {
                    document.location.href = '@Url.Action("AccessDenied", "Home")';
                    //messageHelper.ShowErrorMessage(data.responseJSON.message, '#modalMessageContainer');
                }
            });
        })
</script>