@model ExpiredInfoVM
<a href="#" data-modal-title="@Model.DialogTitle" data-modal-url="@Url.Action("ExpiredInfo","Manage",new { id=Model.Id,longId=Model.LongId, otherBool=Model.OtherBool, returnUrl=Model.ReturnUrl, submitUrl=Model.ExpireSubmitUrl, otherId=Model.OtherId})" class="btn btn-danger modal-loader" title="Премахване"><i class="fa fa-remove"></i></a>
