@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    TempData["PageTitle"] = ViewBag.Title;
}

@section menuHeader{
    <header class="main-header">
        @await Component.InvokeAsync(nameof(IOWebApplication.Components.MainMenuComponent))
    </header>
}

@section contentHeader{
    <section class="content-header">
        <h1>
            @ViewBag.Title
        </h1>
        @RenderSection("breadcrumb", required: false)
    </section>
}

<!-- Default box -->
<div class="box">
    <div class="box-body">
        @RenderBody()
    </div>
    <!-- /.box-body -->
</div>

<!-- /.box -->
@section scripts{

    @RenderSection("scripts", required: false)
}



