@model int
@{
    string userId = (string)ViewBag.userId;
}
@if (Model >= 0)
{
    <li class="tasks-menu">
        <a asp-action="Index" asp-controller="WorkTask" asp-route-userMode="1"
           title="Преглед на моите задачи">
            <i class="fa fa-flag-o"></i>
            @if (Model > 0)
            {
                <span class="label label-danger">@Model</span>
            }
        </a>
    </li>
    @*<!-- Tasks Menu -->
        <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Неприключени задачи">
                <i class="fa fa-flag-o"></i>
                @if (Model > 0)
                {
                    <span class="label label-danger">@Model</span>
                }
            </a>
            <ul class="dropdown-menu">
                <li class="header">Имате <b>@Model</b> неприключени задачи</li>
                <li class="footer">
                    <a asp-action="Index" asp-controller="WorkTask" asp-route-userMode="1">Преглед на моите задачи</a>
                </li>
            </ul>
        </li>*@
}
