@model CaseMainDataVM
@using IOWebApplication.Infrastructure.Models.ViewModels

<div class="row">
    <div class="col-lg-12 col-md-12">
        <table id="caseHronologiaMainTable" class="table table-hover table-striped"></table>
    </div>
</div>


<script>
        $(function () {
            var table = $('#caseHronologiaMainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("CaseFolder_ListData", "Case")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.caseId = @Model.Id;
                    }
                    ,
                    initialCall: false
                },
                deferLoading: deferLoadingOnTab('#caseHronologiaMainTable'),
                columns: [
                   {
                        name: 'date',
                        data: 'date',
                        title: 'Дата',
                        sortable: true,
                        searchable: true,
                        render: function (data) {
                            return moment(data).format("DD.MM.YYYY HH:mm");
                        }
                    },
                    {
                        name: 'typeName',
                        data: 'typeName',
                        title: 'Вид',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        name: 'title',
                        data: 'title',
                        title: 'Описание',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'actions',
                        data: "elementUrl",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            }).order([[ 0, "asc" ]]);
        });
</script>

<script id="templateEdit" type="text/x-handlebars-template">
    {{#if this}}
        <a href="{{this}}" class="btn btn-dropbox btn-sm" title="Редакция"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
    {{/if}}
</script>


