@model DateTime?
<div class="form-group">
    @if (ViewData["label"] != null)
    {
        <label class="control-label">@ViewData["label"]</label>
    }
    else
    {
        <label asp-for="@Model" class="control-label"></label>
    }
    <div>@((Model != null) ? Model.Value.ToString("dd.MM.yyyy") : "")</div>
</div>