@model string

@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix.Replace(".", "_") + "_ddl";

    List<SelectListItem> ddl = null;

    var modelValue = "";
    if (ViewData[fieldName] != null)
    {
        ddl = (List<SelectListItem>)ViewData[fieldName];
    }
    if (ViewData["data"] != null)
    {
        ddl = (List<SelectListItem>)ViewData["data"];
    }
    if (ddl != null)
    {
        modelValue = ddl?.Where(x => x.Value == Model?.ToString()).Select(x => x.Text).FirstOrDefault();
    }

}
<div class="form-group">
    @if (ViewData["label"] != null)
    {
        <label class="control-label">@ViewData["label"]</label>
    }
    else
    {
        <label asp-for="@Model" class="control-label"></label>
    }
    <div>
        @Html.Raw(modelValue)
        @Html.HiddenFor(x => x)
    </div>
</div>
