@using IOWebApplication.Infrastructure.Models.ViewModels
@model CheckListVM

<div class="checklist-item">
    <input asp-for="Value" type="hidden" />
    <input asp-for="Label" type="hidden" />
    <input asp-for="Warrning" type="hidden" />
    @if (string.IsNullOrEmpty(Model.Warrning))
    {
        <label><input asp-for="Checked" type="checkbox">&nbsp;&nbsp;@Model.Label</label>
    }
    else
    {
        <label><input asp-for="Checked" type="checkbox">&nbsp;&nbsp;@Model.Label <i class="fa fa-exclamation-triangle text-red"></i><font color="red">@Model.Warrning</font></label>
    }
</div>