@model int?
@using IOWebApplication.Extensions
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix.Replace(".", "_") + "_ddl";
    var fieldLabel = ViewData.TemplateInfo.HtmlFieldPrefix.Replace(".", "_") + "Label";
    IEnumerable<SelectListItem> ddl = null;
}

@if (ViewData[fieldName] != null)
{
    ddl = (List<SelectListItem>)ViewData[fieldName];
}
else
{

    ddl = new List<SelectListItem>();
}

    <div class="form-group">
        @if (ViewData[fieldLabel] != null)
        {
            <label class="control-label">@ViewData[fieldLabel]</label>
        }
        else
        {
            <label asp-for="@Model" class="control-label"></label>
        }
        @Html.DropDownListFor(model => model, ddl.SetSelected(Model), new { @class = "form-control" })
        <span asp-validation-for="@Model" class="text-danger"></span>
    </div>
