@model long?
@using IOWebApplication.Extensions

@{
    var ddl = (List<SelectListItem>)(ViewData["Ddl"] ?? new List<SelectListItem>());
}

<div class="form-group">
    <label asp-for="@Model" class="control-label"></label>
    @Html.DropDownListFor(model => model, ddl.SetSelected(Model), new { @class = "form-control" })
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>