@using IOWebApplication.Infrastructure.Constants
@using IOWebApplication.Infrastructure.Models.ViewModels

@{
    ViewData["Title"] = "Разпоредителни действия";
    var caseEvidenceId = ViewBag.CaseEvidenceId;
}

@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}

<div class="row">
    <div class="col-md-12">
        <partial name="../CaseEvidence/_CaseEvidenceMovement.cshtml" model="@new CaseMainDataVM { Id = caseEvidenceId} " />
    </div>
</div>
